@media only screen and (max-width: 1024px) {
   header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .logo {
         margin-left: 25px;
      }

      nav {
         display: none;
      }

      .block-bar {
         display: block;
         margin-left: auto;
         margin-right: 25px;
      }
   }

   #banner {
      .bt.full {
         max-width: 375px;
      }

      .container-havana {
         .text {
            h1 {
               max-width: 701px;
               line-height: 70px;
            }

            h1 + * {
               margin-top: 45px;
            }
         }
      }
   }
}
