@media only screen and (max-width: 1024px) {
  .bt {
    max-width: 315px;
  }
  .bt.full {
    max-width: 325px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 15px 0;
  }
  header .logo {
    max-width: 250px;
    margin: unset;
  }
  header nav {
    display: none;
  }
  header .block-bar {
    display: block;
    margin-left: auto;
  }
  #banner .container-havana .text h1 {
    max-width: 701px;
  }
  #banner .container-havana .text h1 + * {
    margin-top: 3vh;
  }
  #sobre .container-havana {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  #contador {
    align-items: center;
    aspect-ratio: unset;
    background-position: left;
  }
  #contador .container-havana {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #contador .container-havana .contador {
    flex-direction: column;
  }
  #contador .container-havana .contador .box-contador p {
    margin-top: 0;
  }
  #contador .container-havana .contador .box-contador + .box-contador {
    margin-top: 50px;
  }
  #contador .container-havana .contador + * {
    margin-top: 75px;
  }
  #servicos .bg {
    background-position: center;
  }
  #servicos .bg::after {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  }
  #servicos .container-havana {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .text-image {
    text-align: -webkit-center;
  }
  .text-image .image {
    display: none !important;
  }
  .text-image .text {
    padding: 50px 20px;
    justify-content: center !important;
  }
  .text-image .text .box-text {
    margin: 0 !important;
  }
  #degustacao .text {
    background-color: var(--azul);
  }
  #contato .text {
    padding: 90px 30px 30px;
  }
  #feedback .container-havana .box-feedback .box {
    margin: 0 auto;
  }
}
