@media only screen and (max-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 15px 0;
  }
  header .logo {
    max-width: 250px;
    margin: unset;
  }
  header nav {
    display: none;
  }
  header .block-bar {
    display: block;
    margin-left: auto;
  }
  #banner .bt.full {
    max-width: 375px;
  }
  #banner .container-havana .text h1 {
    max-width: 701px;
  }
  #banner .container-havana .text h1 + * {
    margin-top: 3vh;
  }
}
