header .logo img {
  height: 45px;
}
.bt {
  max-width: 275px;
  height: 38px;
  letter-spacing: 1.7px;
}
.bt .link-2 {
  font-size: 13px;
}
.bt.full {
  max-width: 280px;
}
#banner .bg.interna {
  padding-top: 100px;
}
#banner .container-havana .text h1 {
  max-width: 440px;
}
#sobre .bg {
  min-height: 600px;
}
#eventos .grid-images .legenda {
  height: 70px;
}
#feedback .container-havana [class*="titulo-2"] {
  font-size: 30px;
}
.text-image h2 {
  font-size: 26px;
  max-width: 400px;
  margin: 0 auto;
}
#contato .text .box-text {
  padding: 0 20px 20px;
}
#contato .text .box-text .logo {
  max-width: 90px;
  margin: -50px auto 0;
}
#contato .text .box-text .logo .whatsapp-contato {
  width: 40px;
}
#contato .text .box-text .logo + * {
  margin-top: 10px;
}
#contato .text .box-text .content p {
  line-height: 19px;
  font-size: 14px;
}
#contato .text .box-text .content p + * {
  margin-top: 15px;
}
#contato .text .box-text [class*="titulo-2"] {
  font-size: 27px;
}
#contato .text .box-text .triangulo-para-baixo {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #fff;
  bottom: -29px;
}
#contato .text-midias {
  text-align: center;
}
#contato .text-midias .bt {
  margin: 20px auto 0;
}
#contato .text-midias a + * {
  margin-top: 15px !important;
}
footer .container-havana .logo-footer {
  height: 45px;
}
#equipe {
  padding-top: 30px;
  padding-bottom: 30px;
}
#equipe .grid-equipe.aparecer {
  margin-top: 30px;
}
#equipe .grid-equipe.aparecer .card-equipe {
  max-width: 85%;
  margin: 0 auto;
}
#equipe [class*="container-havana"] h2 + * {
  margin-top: 5px;
}
#equipe .grid-equipe.aparecer {
  margin-top: 20px;
}
#sobre-interna .text .box-text h2 + * {
  margin-top: 15px;
}
#agenda-interna [class*='titulo-1'] {
  font-size: 35px;
}
