@media only screen and (max-width: 550px) {
  .bt {
    max-width: 275px;
  }
  .bt.full {
    max-width: 345px;
  }
  #banner .container-juliano .text-banner {
    max-width: 425px;
    margin-bottom: 100px;
  }
  #sobre .bg {
    min-height: 600px;
  }
  #contato .text .box-text {
    min-width: 420px;
    min-height: 305px;
  }
  #contato .text .box-text .image-absolute {
    max-width: 120px;
    top: -55px;
  }
}
