@media only screen and (max-width: 656px) {
  .bt.full {
    max-width: 340px;
    height: 45px;
  }
  #banner .container-havana .text h1 + * {
    margin-top: 2vh;
  }
  #sobre .bg {
    min-height: 700px;
  }
  #sobre .text {
    text-align: center;
  }
  #sobre .text a {
    margin: 35px auto 0;
  }
  #servicos .text {
    text-align: center;
  }
  #servicos .text a {
    margin: 35px auto 0;
  }
  #feedback .bg {
    min-height: 765px;
  }
}
