:root {
  --vermelho: #d1002b;
  --azul: #011428;
}
html {
  scroll-behavior: smooth;
}
body {
  background: url(../images/background-body.jpg);
  overflow-x: hidden !important;
}
*:target,
*:focus {
  outline: transparent !important;
}
a,
button {
  text-decoration: none !important;
  -webkit-transition: 0.22s;
}
a *:not(g, path),
button *:not(g, path) {
  transition: 0.15s;
}
a::after,
a::before {
  -webkit-transition: 0.3s;
}
a:hover::after,
a:hover::before {
  transition: 0.3s;
}
a:hover,
button:hover {
  transition: 0.15s;
}
a:hover *:not(g, path),
button:hover *:not(g, path) {
  transition: 0.15s;
}
ol,
ul {
  list-style: none !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
.cep-mask,
.cpf-mask,
.cvv-mask,
.phone-mask,
.number-mask,
.date-mask {
  display: block;
}
[class*="container-havana"] {
  max-width: 1355px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: #292929;
}
.bt {
  max-width: 365px;
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  letter-spacing: 3.2px;
  padding-top: 3px;
}
.bt.full {
  max-width: 430px;
}
.bt.escuro {
  color: #fff;
  background-color: var(--vermelho);
}
.bt.escuro:hover {
  background-color: #a40324;
}
.bt.claro {
  background-color: #fff;
  color: var(--vermelho);
}
.bt.claro:hover {
  background-color: #f1f0f0;
}
.bt.transparent {
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.bt.radius {
  border-radius: 5px;
}
.sumir {
  display: block;
}
.aparecer {
  display: none;
}
.background-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.1s;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}
.background-menu.ativo {
  z-index: 3;
  opacity: 1;
  transition: 0.1s;
  visibility: unset;
}
.box-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: var(--vermelho);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 30px;
  transform: translateX(100%);
  -webkit-transition: 0.3s all;
  z-index: 4;
  color: #fff;
}
.box-menu a {
  color: currentColor;
}
.box-menu li + li {
  margin-top: 15px;
}
.box-menu.ativo {
  transform: translateX(0);
  transition: 0.3s all;
}
header {
  text-align: center;
  padding-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .logo {
  max-width: 360px;
  width: 100%;
  display: flex;
  margin: 0 auto;
}
header .logo img {
  width: 100%;
  height: inherit;
  object-fit: contain;
}
header .logo + * {
  margin-top: 40px;
}
header nav a {
  color: #fff;
  letter-spacing: 3.6px;
  position: relative;
}
header nav a:hover {
  color: #fff;
}
header nav a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: currentColor;
  position: absolute;
  bottom: -3px;
  left: 0;
}
header nav a:hover::after {
  width: 100%;
}
header nav a + * {
  margin-left: 65px;
}
header .block-bar {
  width: 37px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
header .block-bar div {
  height: 3px;
  background-color: #fff;
  width: 100%;
}
header .block-bar div + div {
  margin-top: 7px;
}
header .block-bar {
  display: none;
}
#banner .bg {
  width: 100%;
  min-height: 100vh;
  padding-top: 168px;
  padding-bottom: 25px;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-position: top;
  display: flex;
  background-attachment: fixed;
}
#banner .bg::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.4) 100%);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}
#banner .container-havana {
  text-align: center;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#banner .container-havana .text {
  margin-bottom: 25px;
}
#banner .container-havana .text h1 {
  max-width: 1024px;
  color: #fff;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  line-height: 1.25;
  margin-bottom: 0;
  margin: 0 auto;
}
#banner .container-havana .text h1 + * {
  margin-top: 5.56vh;
}
#banner .container-havana .text .buttons a {
  margin: 0 auto;
}
#banner .container-havana .text .buttons a + * {
  margin-top: 20px;
}
#banner .container-havana .scroll {
  display: inline-flex;
  align-items: center;
  color: #fff;
  line-height: 24px;
  animation: scroll 2s infinite linear forwards;
}
#banner .container-havana .scroll svg {
  max-width: 16px;
  max-height: 16px;
  height: auto;
  width: auto;
  fill: currentColor;
  margin-right: 5px;
}
@keyframes scroll {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}
.background-generic .bg {
  width: 100%;
  background-size: cover;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
  background-position: top;
  background-repeat: no-repeat;
}
.background-generic .bg::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.background-generic .bg .text {
  position: relative;
  z-index: 2;
  max-width: 685px;
  margin: 0 0 0 auto;
  color: #fff;
}
.background-generic .bg .text a {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.background-generic .bg .container-havana h2 {
  color: #fff;
  line-height: 1.25;
  margin-bottom: 0;
}
.background-generic .bg .container-havana h2 + * {
  margin-top: 35px;
}
.background-generic .bg .container-havana p + * {
  margin-top: 35px;
}
.background-generic ul {
  text-align: start;
}
.background-generic ul li {
  display: flex;
  align-items: flex-start;
}
.background-generic ul li svg {
  fill: #fff;
  max-width: 16px;
  height: 16px;
  width: 100%;
  object-fit: contain;
  margin-right: 13px;
  margin-top: 5px;
}
.background-generic ul + * {
  margin-top: 42px;
}
.background-generic.margin-title-grande h2 {
  margin-bottom: 60px;
}
.background-generic.align-left .text {
  margin: 0 auto 0 0;
}
.text-image {
  display: flex;
  max-height: 800px;
}
.text-image .image {
  width: 100%;
}
.text-image .image img {
  width: 100%;
  height: inherit;
  object-fit: contain;
}
.text-image .text {
  width: 100%;
  display: flex;
  align-items: center;
}
.text-image .text .box-text {
  color: #fff;
}
.text-image h2 {
  line-height: 1.25;
}
.text-image h2,
.text-image p {
  margin-bottom: 0;
}
.text-image h2 + * {
  margin-top: 35px;
}
.text-image p + * {
  margin-top: 35px;
}
.text-image a {
  display: flex;
  align-items: center;
}
.text-image a svg {
  margin-right: 10px;
  fill: #fff;
}
.text-image a span {
  padding-top: 3px;
}
.text-image a + * {
  margin-top: 20px;
}
#galeria {
  width: 100%;
  min-height: 800px;
  display: flex;
  align-items: flex-end;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
#galeria::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#galeria .container-havana {
  padding-bottom: 180px;
  position: relative;
  z-index: 2;
}
#galeria .container-havana .contador {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #fff;
}
#galeria .container-havana span {
  line-height: 64px;
}
#galeria .container-havana span + * {
  margin-top: 7px;
}
#galeria .container-havana p {
  margin-bottom: 0;
}
#galeria .container-havana .contador + * {
  margin-top: 125px;
}
#galeria .container-havana a {
  margin: 0 auto;
}
#degustacao .text {
  background-color: var(--vermelho);
}
#degustacao .text .box-text {
  max-width: 510px;
  margin-left: 130px;
}
#redes .image {
  display: flex;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 65px;
}
#redes .image img {
  max-width: 32.03vw;
  max-height: 88.75vw;
}
#redes .text {
  background-color: var(--vermelho);
  justify-content: flex-end;
}
#redes .text .box-text {
  max-width: 510px;
  margin-right: 166px;
  color: #fff;
}
#feedback .bg {
  width: 100%;
  background-size: cover;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
  background-position: top;
  background-repeat: no-repeat;
}
#feedback .bg::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#feedback .container-havana {
  color: #fff;
  position: relative;
  z-index: 2;
}
#feedback .container-havana h2,
#feedback .container-havana h3,
#feedback .container-havana p {
  margin-bottom: 0;
}
#feedback .container-havana h2 + * {
  margin-top: 30px;
}
#feedback .container-havana .box-feedback {
  display: flex;
  justify-content: space-between;
}
#feedback .container-havana .box-feedback .box {
  max-width: 430px;
  padding: 75px 50px 80px;
  background-color: var(--azul);
}
#feedback .container-havana .box-feedback .box p {
  line-height: 24px;
  text-align: left;
}
#feedback .container-havana .box-feedback .box p + * {
  margin-top: 25px;
}
#feedback .container-havana .box-feedback .box h3 {
  line-height: 24px;
}
#feedback .container-havana .box-feedback .box h3 + * {
  margin-top: 10px;
}
#feedback .container-havana .box + .box {
  margin-left: 10px;
}
#contato .image img {
  min-height: 485px;
  height: 100%;
  object-fit: cover;
}
#contato .text {
  background-color: var(--azul);
  justify-content: center;
  padding: 20px;
}
#contato .text .box-text {
  min-width: 606px;
  min-height: 440px;
  background-repeat: no-repeat;
  color: var(--azul);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: contain;
  background-position: center;
}
#contato .text .box-text .image-absolute {
  max-width: 212px;
  max-height: 203px;
  height: inherit;
  object-fit: contain;
  position: absolute;
  top: -115px;
}
#contato .text .box-text .image + * {
  margin-top: 15px;
}
#contato .text .box-text .content {
  text-align: center;
}
#contato .text .box-text .content p {
  line-height: 24px;
  width: 335px;
  margin: 0 auto;
}
#contato .text .box-text .content a {
  margin: 0 auto;
}
#contato .text .box-text .content p + * {
  margin-top: 20px;
}
footer {
  background-color: var(--vermelho);
  padding-top: 80px;
}
footer .container-havana {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}
footer .container-havana .logo-footer {
  max-width: 430px;
  max-height: 89px;
  object-fit: contain;
}
footer .container-havana .logo-footer img {
  width: 100%;
  height: inherit;
}
footer .container-havana .links-footer {
  display: flex;
  flex-direction: column;
  color: #f5f5f5;
}
footer .container-havana .links-footer a {
  color: #f5f5f5;
}
footer .container-havana .links-footer a + * {
  margin-top: 5px;
}
footer .container-havana .links-footer .contato {
  display: flex;
}
footer .container-havana .links-footer .contato a {
  padding-top: 1px;
}
footer .container-havana .links-footer .contato .icon {
  width: 16px;
  margin-right: 8px;
  margin-top: 5px;
}
footer .container-havana .links-footer .contato .icon svg {
  max-width: 100%;
  max-height: 16px;
  object-fit: contain;
}
footer .container-havana .links-footer .contato + * {
  margin-top: 5px;
}
footer .container-havana .links-footer .icon {
  display: flex;
}
footer .container-havana .links-footer .icon a {
  margin-top: 0;
}
footer .container-havana .links-footer .icon a + * {
  margin-left: 10px;
}
footer .container-havana .links-footer .icon svg {
  fill: #fff;
  stroke: #fff;
}
footer .barra-footer {
  background-color: #b70026;
}
footer .barra-footer .container-havana {
  display: flex;
  justify-content: space-between;
  padding: 13px 5px;
}
footer .barra-footer .container-havana a {
  color: #fff;
  opacity: 0.5;
}
footer .barra-footer .container-havana .box-left a + * {
  margin-left: 70px;
}
#sobre-interna .text {
  background-color: var(--vermelho);
  justify-content: flex-end;
}
#sobre-interna .text .box-text {
  margin-right: 150px;
  max-width: 545px;
}
#sobre-interna .text .box-text h2 + * {
  margin-top: 78px;
}
#equipe {
  background-color: var(--azul);
}
#equipe .container-havana {
  color: #fff;
  text-align: center;
}
#equipe .container-havana .grid-equipe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
#equipe .container-havana .grid-equipe .card-equipe {
  max-width: 420px;
  text-align: center;
}
#equipe .container-havana .grid-equipe .card-equipe img {
  width: 100%;
  object-fit: cover;
}
#equipe .container-havana .grid-equipe .card-equipe img + * {
  margin-top: 25px;
}
#equipe .container-havana .grid-equipe .card-equipe h3,
#equipe .container-havana .grid-equipe .card-equipe p {
  margin-bottom: 0;
}
#equipe .container-havana .grid-equipe .card-equipe p {
  max-width: 386px;
}
@media only screen and (max-width: 1200px) {
  @import "responsive/1200.css";
}
