@font-face {
  font-family: roc-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: graphie, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: graphie, sans-serif;
  font-weight: 700;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
p,
span,
strong,
time,
address,
i,
a,
b,
label,
li,
td {
  text-rendering: optimizeLegibility !important;
}
[class*='-roc'] {
  font-family: roc-grotesk;
}
[class*='-roc-2'] {
  font-family: roc-grotesk-wide;
}
[class*='-roc-medium'] {
  font-family: roc-grotesk-wide;
}
[class*='-graphie'] {
  font-family: graphie;
}
.uppercase {
  text-transform: uppercase;
}
.lowcase {
  text-transform: lowercase;
}
/*Font Weights----------------------------------------------------------*/
[class*='-bold'] {
  font-weight: 700;
}
[class*='-semibold'] {
  font-weight: 600;
}
[class*='-medium'] {
  font-weight: 500;
}
[class*='-regular'] {
  font-weight: 400;
}
[class*='-light'] {
  font-weight: 300;
}
[class*='-italic'] {
  font-style: italic !important;
}
[class*='titulo-1'] {
  font-size: 64px;
}
[class*='titulo-2'] {
  font-size: 52px;
}
[class*='titulo-3'] {
  font-size: 32px;
}
[class*='titulo-4'] {
  font-size: 20px;
}
[class*='titulo-5'] {
  font-size: 16px;
}
[class*='paragrafo-1'] {
  font-size: 20px;
}
[class*='paragrafo-2'] {
  font-size: 18px;
}
[class*='paragrafo-3'] {
  font-size: 16px;
}
[class*='link-1'] {
  font-size: clamp(15px, 1.67vh, 18px);
}
[class*='link-2'] {
  font-size: 16px;
}
@media only screen and (max-height: 900px) {
  [class*='link-1'] {
    font-size: clamp(14.5px, 1.67vh, 17px);
  }
}
@media only screen and (max-height: 720px) {
  [class*='link-1'] {
    font-size: clamp(14px, 1.67vh, 16px);
  }
}
@media only screen and (max-height: 600px) {
  [class*='link-1'] {
    font-size: clamp(13px, 1.67vh, 15px);
  }
}
@media only screen and (max-width: 1400px) {
  [class*='titulo-1'] {
    font-size: 55px;
  }
  [class*='titulo-2'] {
    font-size: 46px;
  }
  [class*='titulo-3'] {
    font-size: 19px;
  }
  [class*='titulo-4'] {
    font-size: 15.7px;
  }
  [class*='paragrafo-1'] {
    font-size: 19px;
  }
  [class*='paragrafo-2'] {
    font-size: 17px;
  }
  [class*='paragrafo-3'] {
    font-size: 15.7px;
  }
  [class*='link-1'] {
    font-size: 17px;
  }
  [class*='link-2'] {
    font-size: 15.7px;
  }
}
@media only screen and (max-width: 1200px) {
  [class*='titulo-1'] {
    font-size: 50px;
  }
  [class*='titulo-2'] {
    font-size: 42px;
  }
  [class*='titulo-3'] {
    font-size: 18px;
  }
  [class*='titulo-4'] {
    font-size: 15px;
  }
  [class*='paragrafo-1'] {
    font-size: 18px;
  }
  [class*='paragrafo-2'] {
    font-size: 16px;
  }
  [class*='paragrafo-3'] {
    font-size: 15px;
  }
  [class*='link-1'] {
    font-size: 16px;
  }
  [class*='link-2'] {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1024px) {
  [class*='titulo-1'] {
    font-size: 40px;
  }
  [class*='titulo-2'] {
    font-size: 37px;
  }
  [class*='paragrafo-1'] {
    font-size: 17px;
  }
  [class*='paragrafo-2'] {
    font-size: 16px;
  }
  [class*='paragrafo-3'] {
    font-size: 15px;
  }
  [class*='link-2'] {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  [class*='titulo-1'] {
    font-size: 32px;
  }
  [class*='titulo-2'] {
    font-size: 31px;
  }
}
@media only screen and (max-width: 450px) {
  [class*='titulo-1'] {
    font-size: 30px;
  }
  [class*='link-2'] {
    font-size: 13px;
  }
}
:root {
  --vermelho: #d1002b;
  --azul: #022a50;
}
html {
  scroll-behavior: smooth;
}
body {
  background: url(../images/background-body.jpg);
  overflow-x: hidden !important;
  position: relative;
}
*:target,
*:focus {
  outline: transparent !important;
}
a,
button {
  text-decoration: none !important;
  -webkit-transition: 0.22s;
}
a *:not(g, path),
button *:not(g, path) {
  transition: 0.15s;
}
a::after,
a::before {
  -webkit-transition: 0.3s;
}
a:hover::after,
a:hover::before {
  transition: 0.3s;
}
a:hover,
button:hover {
  transition: 0.15s;
}
a:hover *:not(g, path),
button:hover *:not(g, path) {
  transition: 0.15s;
}
ol,
ul {
  list-style: none !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
.cep-mask,
.cpf-mask,
.cvv-mask,
.phone-mask,
.number-mask,
.date-mask {
  display: block;
}
[class*="container-havana"] {
  max-width: 1355px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: #292929;
}
.bt {
  max-width: 365px;
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  letter-spacing: 3.2px;
  padding-top: 3px;
}
.bt.full {
  max-width: 430px;
}
.bt.escuro {
  color: #fff;
  background-color: var(--vermelho);
}
.bt.escuro:hover {
  background-color: #a40324;
}
.bt.claro {
  background-color: #fff;
  color: var(--vermelho);
}
.bt.claro:hover {
  background-color: #f1f0f0;
}
.bt.transparent {
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.bt.transparent:hover {
  background-color: #fff;
  color: var(--vermelho);
  border: 1px solid var(--vermelho);
}
.bt.transparent:hover svg {
  fill: var(--vermelho);
}
.bt.radius {
  border-radius: 5px;
}
.sumir {
  display: block;
}
.aparecer {
  display: none;
}
.divisor-half {
  display: flex;
}
.divisor-half .image {
  max-width: 50%;
  width: 100%;
  aspect-ratio: 960/800;
}
.divisor-half .image img {
  aspect-ratio: inherit;
  width: 100%;
  height: inherit;
  object-fit: contain;
}
.divisor-half .text {
  max-width: 50%;
  width: 100%;
}
.background-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.1s;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}
.background-menu.ativo {
  z-index: 3;
  opacity: 1;
  transition: 0.1s;
  visibility: unset;
}
.box-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: var(--vermelho);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 30px;
  transform: translateX(100%);
  -webkit-transition: 0.3s all;
  z-index: 4;
  color: #fff;
}
.box-menu a {
  color: currentColor;
}
.box-menu li + li {
  margin-top: 15px;
}
.box-menu.ativo {
  transform: translateX(0);
  transition: 0.3s all;
}
header {
  padding-top: 3.7vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
}
header .logo {
  display: inline-flex;
  margin: 0 auto;
}
header .logo img {
  width: 100%;
  height: clamp(50px, 6.94vh, 75px);
}
header .logo + * {
  margin-top: 3.7vh;
}
header nav a {
  color: #fff;
  letter-spacing: 3.6px;
  position: relative;
}
header nav a:hover {
  color: #fff;
}
header nav a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: currentColor;
  position: absolute;
  bottom: -3px;
  left: 0;
}
header nav a:hover::after {
  width: 100%;
}
header nav a + * {
  margin-left: clamp(40px, 6vh, 65px);
}
header .block-bar {
  width: 37px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
header .block-bar div {
  height: 3px;
  background-color: #fff;
  width: 100%;
}
header .block-bar div + div {
  margin-top: 7px;
}
header .block-bar {
  display: none;
}
.whatsapp {
  position: fixed;
  z-index: 99;
  max-width: 80px;
  max-height: 80px;
  right: 20px;
  bottom: 20px;
}
.whatsapp img {
  width: 100%;
  height: inherit;
  object-fit: contain;
  background-position: center;
}
#banner .bg {
  width: 100%;
  min-height: 100vh;
  padding-top: 168px;
  padding-bottom: 25px;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: flex;
  background-attachment: fixed;
}
#banner .bg::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.4) 100%);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}
#banner .container-havana {
  text-align: center;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#banner .container-havana .text {
  margin-bottom: 25px;
}
#banner .container-havana .text h1 {
  max-width: 1024px;
  color: #fff;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  line-height: 1.25;
  margin-bottom: 0;
  margin: 0 auto;
}
#banner .container-havana .text h1 + * {
  margin-top: 5.56vh;
}
#banner .container-havana .text .buttons a {
  margin: 0 auto;
}
#banner .container-havana .text .buttons a + * {
  margin-top: 20px;
}
#banner .container-havana .scroll {
  display: inline-flex;
  align-items: center;
  color: #fff;
  line-height: 24px;
  animation: scroll 2s infinite linear forwards;
}
#banner .container-havana .scroll svg {
  max-width: 16px;
  max-height: 16px;
  height: auto;
  width: auto;
  fill: currentColor;
  margin-right: 5px;
}
@keyframes scroll {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}
.hidden {
  display: none;
}
.background-generic .bg {
  width: 100%;
  background-size: cover;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
  background-position: top;
  background-repeat: no-repeat;
}
.background-generic .bg::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.background-generic .bg .text {
  position: relative;
  z-index: 2;
  max-width: 685px;
  margin: 0 0 0 auto;
  color: #fff;
}
.background-generic .bg .text a {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.background-generic .bg .container-havana {
  position: relative;
  z-index: 2;
}
.background-generic .bg .container-havana h2 {
  color: #fff;
  line-height: 1.25;
  margin-bottom: 0;
}
.background-generic .bg .container-havana h2 + * {
  margin-top: 35px;
}
.background-generic .bg .container-havana p + * {
  margin-top: 35px;
}
.background-generic ul {
  text-align: start;
}
.background-generic ul li {
  display: flex;
  align-items: flex-start;
}
.background-generic ul li svg {
  fill: #fff;
  max-width: 16px;
  height: 16px;
  width: 100%;
  object-fit: contain;
  margin-right: 13px;
  margin-top: 5px;
}
.background-generic ul + * {
  margin-top: 42px;
}
.background-generic.margin-title-grande .container-havana h2 + * {
  margin-top: 90px;
}
.background-generic.align-left .text {
  margin: 0 auto 0 0;
}
#contador {
  width: 100%;
  aspect-ratio: 2.4;
  min-height: 450px;
  display: flex;
  align-items: flex-end;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
#contador .box-contador {
  width: 100%;
}
#contador::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#contador .container-havana {
  padding-bottom: 9.38vw;
  position: relative;
  z-index: 2;
}
#contador .container-havana .contador {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #fff;
}
#contador .container-havana span {
  line-height: 64px;
}
#contador .container-havana span + * {
  margin-top: 7px;
}
#contador .container-havana p {
  margin-bottom: 0;
}
#contador .container-havana .contador + * {
  margin-top: 6.51vw;
}
#contador .container-havana a {
  margin: 0 auto;
}
.text-image .text {
  display: flex;
  align-items: center;
  background-color: var(--vermelho);
}
.text-image .text .box-text {
  max-width: 60%;
  width: 100%;
  margin: 0 auto;
  color: #fff;
}
.text-image h2 {
  line-height: 1.25;
}
.text-image h2,
.text-image p {
  margin-bottom: 0;
}
.text-image h2 + * {
  margin-top: 35px;
}
.text-image p + * {
  margin-top: 35px;
}
.text-image a {
  display: flex;
  align-items: center;
}
.text-image a svg {
  margin-right: 10px;
  fill: #fff;
}
.text-image a span {
  padding-top: 3px;
}
.text-image a + * {
  margin-top: 20px;
}
#degustacao .text-image:nth-child(even) {
  flex-direction: row-reverse;
}
#feedback .bg {
  width: 100%;
  background-size: cover;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
  background-position: top;
  background-repeat: no-repeat;
}
#feedback .container-havana {
  color: #fff;
  position: relative;
  z-index: 2;
}
#feedback .container-havana h2,
#feedback .container-havana h3,
#feedback .container-havana p {
  margin-bottom: 0;
}
#feedback .container-havana h2 + * {
  margin-top: 30px;
}
#feedback .container-havana .box-feedback {
  display: flex;
  justify-content: space-between;
}
#feedback .container-havana .box-feedback .box {
  max-width: 430px;
  padding: 75px 50px 80px;
  background-color: var(--azul);
}
#feedback .container-havana .box-feedback .box p {
  line-height: 24px;
  text-align: left;
}
#feedback .container-havana .box-feedback .box p + * {
  margin-top: 25px;
}
#feedback .container-havana .box-feedback .box h3 {
  line-height: 24px;
}
#feedback .container-havana .box-feedback .box h3 + * {
  margin-top: 10px;
}
#feedback .container-havana .box + .box {
  margin-left: 10px;
}
#contato .image {
  max-width: 50%;
  width: 100%;
  aspect-ratio: 960/800;
}
#contato .image img {
  aspect-ratio: inherit;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
#contato .text-midias {
  color: #fff;
  text-align: left;
  width: 100%;
  max-width: 510px;
}
#contato .text-midias h2 {
  line-height: 1.25;
  max-width: 510px;
}
#contato .text-midias h2,
#contato .text-midias p {
  margin-bottom: 0;
}
#contato .text-midias h2 + * {
  margin-top: 35px;
}
#contato .text-midias p + * {
  margin-top: 35px;
}
#contato .text-midias a {
  display: flex;
  align-items: center;
}
#contato .text-midias a svg {
  margin-right: 10px;
  fill: #fff;
}
#contato .text-midias a span {
  padding-top: 3px;
}
#contato .text-midias a + * {
  margin-top: 20px;
}
#contato .text-midias .bt.full.transparent:hover {
  color: var(--azul);
  border-color: var(--azul);
}
#contato .text-midias .bt.full.transparent:hover svg {
  fill: var(--azul);
}
#contato .text {
  background-color: var(--azul);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contato .text .box-text {
  max-width: 610px;
  width: 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  color: var(--azul);
  background-size: contain;
  background-position: center;
  padding: 0 100px 62px;
  position: relative;
}
#contato .text .box-text .triangulo-para-baixo {
  width: 0;
  height: 0;
  border-left: 71px solid transparent;
  border-right: 71px solid transparent;
  border-top: 71px solid #fff;
  position: absolute;
  bottom: -71px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#contato .text .box-text .logo {
  max-width: 212px;
  margin: -115px auto 0;
  width: 100%;
  position: relative;
}
#contato .text .box-text .logo img {
  width: 100%;
}
#contato .text .box-text .logo .whatsapp-contato {
  position: absolute;
  bottom: 0;
  right: 0;
}
#contato .text .box-text .logo + * {
  margin-top: 15px;
}
#contato .text .box-text .content {
  text-align: center;
}
#contato .text .box-text .content p {
  line-height: 24px;
  max-width: 335px;
  width: 100%;
  margin: 0 auto;
}
#contato .text .box-text .content a {
  margin: 0 auto;
}
#contato .text .box-text .content p + * {
  margin-top: 20px;
}
footer {
  background-color: var(--vermelho);
  padding-top: 80px;
}
footer .container-havana {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}
footer .container-havana .logo-footer {
  height: 89px;
}
footer .container-havana .logo-footer img {
  height: inherit;
}
footer .container-havana .links-footer {
  display: flex;
  flex-direction: column;
  color: #f5f5f5;
}
footer .container-havana .links-footer a {
  color: #f5f5f5;
}
footer .container-havana .links-footer a + * {
  margin-top: 5px;
}
footer .container-havana .links-footer .contato {
  display: flex;
}
footer .container-havana .links-footer .contato a {
  padding-top: 1px;
}
footer .container-havana .links-footer .contato .icon {
  width: 16px;
  margin-right: 8px;
  margin-top: 5px;
}
footer .container-havana .links-footer .contato .icon svg {
  max-width: 100%;
  max-height: 16px;
  object-fit: contain;
}
footer .container-havana .links-footer .contato + * {
  margin-top: 5px;
}
footer .container-havana .links-footer .icon {
  display: flex;
}
footer .container-havana .links-footer .icon a {
  margin-top: 0;
}
footer .container-havana .links-footer .icon a + * {
  margin-left: 10px;
}
footer .container-havana .links-footer .icon svg {
  fill: #fff;
  stroke: #fff;
}
footer .barra-footer {
  background-color: #b70026;
}
footer .barra-footer .container-havana {
  display: flex;
  justify-content: space-between;
  padding: 13px 5px;
}
footer .barra-footer .container-havana a {
  color: #fff;
  opacity: 0.5;
}
footer .barra-footer .container-havana .box-left a + * {
  margin-left: 70px;
}
#sobre-interna .text {
  background-color: var(--vermelho);
  justify-content: flex-end;
}
#sobre-interna .text .box-text {
  margin-right: 150px;
  max-width: 545px;
  margin: 0 auto;
}
#sobre-interna .text .box-text h2 + * {
  margin-top: 78px;
}
#equipe {
  padding-top: 77px;
  padding-bottom: 95px;
  background-color: var(--azul);
}
#equipe .container-havana {
  color: #fff;
  text-align: center;
}
#equipe .container-havana p {
  max-width: 722px;
  margin: 0 auto;
}
#equipe .container-havana p + * {
  margin-top: 100px;
}
#equipe .container-havana h2,
#equipe .container-havana h3,
#equipe .container-havana p {
  margin-bottom: 0;
}
#equipe .container-havana h2 + * {
  margin-top: 26px;
}
#equipe .container-havana .grid-equipe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 60px;
  column-gap: 20px;
}
#equipe .container-havana .grid-equipe .card-equipe {
  max-width: 100%;
  text-align: center;
}
#equipe .container-havana .grid-equipe .card-equipe img {
  width: 100%;
  object-fit: cover;
}
#equipe .container-havana .grid-equipe .card-equipe img + * {
  margin-top: 25px;
}
#equipe .container-havana .grid-equipe .card-equipe h3 + * {
  margin-top: 15px;
}
#equipe .container-havana .grid-equipe .card-equipe p {
  max-width: 386px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}
#equipe .container-havana .grid-equipe.aparecer {
  display: none;
}
#beleza-bar .bg::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#beleza-bar .text p {
  max-width: 560px;
}
#xaropes .bg::after {
  opacity: 0;
}
#banner .bg.interna::after {
  display: none;
}
#banner .interna .container-havana {
  justify-content: center;
}
.contato-interna {
  max-width: 1388px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#agenda-interna {
  color: #fff;
  padding-top: 70px;
  padding-bottom: 100px;
}
#agenda-interna h1 + * {
  margin-top: 65px;
}
.bg-eventos {
  width: 100%;
  min-height: 100vh;
  padding-top: 250px;
  position: relative;
}
#eventos {
  color: #fff;
}
#eventos .container-havana + * {
  margin-top: 5.21vw;
}
#eventos .grid-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#eventos .grid-images .box-image {
  width: 100%;
  position: relative;
}
#eventos .grid-images .box-image a {
  width: 100%;
  display: inline-block;
  aspect-ratio: 1.77777778;
}
#eventos .grid-images .box-image a img {
  aspect-ratio: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#eventos .grid-images .box-image a + a {
  display: none;
}
#eventos .grid-images .box-image:hover .legenda {
  opacity: 1;
}
#eventos .grid-images .legenda {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}
#eventos .grid-images .legenda h3,
#eventos .grid-images .legenda p {
  margin-bottom: 0;
  color: #fff;
}
@media only screen and (max-width: 1600px) {
  .bt {
    max-width: 335px;
    height: 49px;
    letter-spacing: 2.8px;
  }
  #feedback .container-havana {
    max-width: 1155px;
  }
  #feedback .container-havana [class*="titulo-2"] {
    font-size: 45px;
  }
  #feedback .container-havana .box-feedback .box {
    max-width: 430px;
    padding: 55px 30px;
  }
  #contato .text .box-text {
    max-width: 500px;
    padding: 0 60px 35px;
  }
  #contato .text .box-text .logo {
    max-width: 165px;
    margin: -70px auto 0;
  }
  #contato .text .box-text .logo .whatsapp-contato {
    width: 67px;
  }
  #contato .text .box-text .logo .whatsapp-contato img {
    width: 100%;
  }
  #contato .text .box-text [class*="titulo-2"] {
    font-size: 45px;
  }
  #contato .text .box-text .triangulo-para-baixo {
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 60px solid #fff;
    bottom: -60px;
  }
  footer {
    padding-top: 65px;
  }
  footer .container-havana {
    padding-bottom: 55px;
  }
  footer .container-havana .logo-footer {
    height: 75px;
  }
  #equipe {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  #equipe [class*="container-havana"] {
    max-width: 1230px;
  }
  #equipe .container-havana p + * {
    margin-top: 75px;
  }
  #sobre-interna .text .box-text {
    max-width: 500px;
  }
  #sobre-interna .text .box-text h2 + * {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1400px) {
  .bt {
    max-width: 315px;
    height: 46px;
    letter-spacing: 2.5px;
  }
  #eventos .container-havana + * {
    margin-top: 4.3vw;
  }
  #feedback .bg {
    min-height: 600px;
  }
  #feedback .container-havana {
    max-width: 955px;
  }
  #feedback .container-havana [class*="titulo-2"] {
    font-size: 36px;
  }
  #feedback .container-havana .box-feedback .box {
    max-width: 430px;
    padding: 33px 20px 35px;
  }
  #feedback .container-havana .box-feedback .box p {
    line-height: 20px;
    font-size: 15px;
  }
  #contato .text .box-text {
    max-width: 420px;
    padding: 0 48px 30px;
  }
  #contato .text .box-text .logo {
    max-width: 147px;
    margin: -60px auto 0;
  }
  #contato .text .box-text .logo .whatsapp-contato {
    width: 62px;
  }
  #contato .text .box-text .logo .whatsapp-contato img {
    width: 100%;
  }
  #contato .text .box-text [class*="titulo-2"] {
    font-size: 40px;
  }
  #contato .text .box-text .triangulo-para-baixo {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #fff;
    bottom: -50px;
  }
  footer {
    padding-top: 55px;
  }
  footer .container-havana {
    padding-bottom: 45px;
  }
  footer .container-havana .logo-footer {
    height: 68px;
  }
  #equipe {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  #equipe [class*="container-havana"] {
    max-width: 1030px;
  }
  #equipe .container-havana p + * {
    margin-top: 55px;
  }
  #equipe .container-havana .grid-equipe {
    row-gap: 40px;
    column-gap: 17px;
  }
  #sobre-interna .text .box-text {
    max-width: 469px;
  }
  #sobre-interna .text .box-text h2 + * {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 1200px) {
  .bt.full {
    max-width: 375px;
  }
  .bt {
    max-width: 280px;
    height: 43px;
    letter-spacing: 2.1px;
  }
  #degustacao .text .box-text {
    margin-left: 80px;
  }
  #redes .text .box-text {
    max-width: 400px;
    margin-right: 60px;
  }
  #feedback .sumir {
    display: none !important;
  }
  #feedback .aparecer {
    display: block;
  }
  #feedback .bg {
    min-height: unset;
    padding: 45px 0 35px;
  }
  #feedback .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 30px;
  }
  #feedback .container-havana .aparecer {
    margin-top: 30px;
  }
  #feedback .container-havana [class*="titulo-2"] {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  #feedback .container-havana .box-feedback {
    flex-direction: column;
  }
  #contato .text .box-text {
    max-width: 350px;
    padding: 0 30px 25px;
  }
  #contato .text .box-text .logo {
    max-width: 130px;
    margin: -50px auto 0;
  }
  #contato .text .box-text .logo .whatsapp-contato {
    width: 57px;
  }
  #contato .text .box-text .logo .whatsapp-contato img {
    width: 100%;
  }
  #contato .text .box-text [class*="titulo-2"] {
    font-size: 35px;
  }
  #contato .text .box-text .triangulo-para-baixo {
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 45px solid #fff;
    bottom: -45px;
  }
  footer {
    padding-top: 50px;
  }
  footer .sumir {
    display: none !important;
  }
  footer .aparecer {
    display: block;
  }
  footer .container-havana {
    padding-bottom: 40px;
  }
  footer .container-havana .logo-footer {
    height: 64px;
  }
  #sobre-interna .text .box-text {
    max-width: 440px;
  }
  #sobre-interna .text .box-text h2 + * {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .bt {
    max-width: 270px;
    letter-spacing: 1.9px;
  }
  .bt.full {
    max-width: 325px;
  }
  .whatsapp {
    max-width: 70px;
    max-height: 70px;
    right: 18px;
    bottom: 18px;
  }
  .sumir {
    display: none !important;
  }
  .aparecer {
    display: block !important;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 25px 15px 0;
  }
  header .logo {
    margin: unset;
  }
  header nav {
    display: none;
  }
  header .block-bar {
    display: block;
    margin-left: auto;
  }
  #banner .bg.interna {
    min-height: unset;
    padding-top: 16vw;
    padding-bottom: 0;
  }
  #banner .container-havana .text h1 {
    max-width: 701px;
  }
  #banner .container-havana .text h1 + * {
    margin-top: 3vh;
  }
  #sobre .container-havana {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  #contador {
    align-items: center;
    aspect-ratio: unset;
    background-position: left;
  }
  #contador .container-havana {
    padding: 40px 15px;
  }
  #contador .container-havana .contador {
    flex-direction: column;
  }
  #contador .container-havana .contador .box-contador p {
    margin-top: 0;
  }
  #contador .container-havana .contador .box-contador + .box-contador {
    margin-top: 20px;
  }
  #contador .container-havana .contador + * {
    margin-top: 35px;
  }
  #servicos .bg {
    background-position: center;
  }
  #servicos .bg::after {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  }
  #servicos .container-havana {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .text-image {
    text-align: -webkit-center;
  }
  .text-image .image {
    display: none !important;
  }
  .text-image .text {
    padding: 45px 20px;
    justify-content: center !important;
  }
  .text-image .text .box-text {
    margin: 0 !important;
    max-width: 500px;
  }
  #degustacao .text {
    background-color: var(--azul);
  }
  #degustacao .divisor-half:nth-child(even) .text {
    background-color: var(--vermelho);
  }
  .divisor-half {
    flex-direction: column;
    align-items: center;
  }
  .divisor-half .text {
    max-width: 100%;
  }
  #contato .image {
    display: none;
  }
  #contato .text {
    padding: 100px 15px;
  }
  #contato .text .box-text .logo {
    max-width: 120px;
    margin: -40px auto 0;
  }
  #contato .text .box-text .logo .whatsapp-contato {
    width: 52px;
  }
  #contato .text .box-text .logo .whatsapp-contato img {
    width: 100%;
  }
  #contato .text .box-text [class*="titulo-2"] {
    font-size: 30px;
  }
  #contato .text .box-text .triangulo-para-baixo {
    border-left: 38px solid transparent;
    border-right: 38px solid transparent;
    border-top: 38px solid #fff;
    bottom: -37px;
  }
  #contato .text-midias {
    text-align: center;
  }
  #contato .text-midias .bt {
    margin: 30px auto 0;
  }
  #contato .text-midias a + * {
    margin-top: 25px !important;
  }
  .contato-interna .text {
    padding: 85px 15px !important;
    margin-bottom: 0 !important;
  }
  #feedback .container-havana .box-feedback .box {
    margin: 0 auto;
  }
  .bg-eventos {
    padding-top: 140px;
  }
  #eventos .container-havana + * {
    margin-top: 3vw;
  }
  #eventos .grid-images {
    grid-template-columns: repeat(1, 1fr);
  }
  #eventos .grid-images .legenda {
    opacity: 1;
  }
  .background-generic .bg {
    min-height: unset;
    padding: 30px 0;
  }
  .background-generic .bg .text {
    text-align: center;
    max-width: 590px;
    margin: 0 auto;
  }
  .background-generic .bg .text h2 {
    max-width: 473px;
    margin: 0 auto;
  }
  .background-generic .bg .text h2 + * {
    margin-top: 15px;
  }
  .background-generic .bg .text .bt {
    margin: 20px auto 0;
  }
  .background-generic .bg .text ul {
    max-width: 345px;
    margin: 0 auto;
  }
  footer {
    padding-top: 35px;
  }
  footer .container-havana {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
  }
  footer .container-havana .logo-footer {
    height: 55px;
  }
  footer .container-havana .links-footer .contato + * {
    margin-top: 15px;
  }
  footer .container-havana .links-footer .icon a + * {
    margin-left: 20px;
  }
  footer .container-havana [class*="titulo-5"] {
    margin-bottom: 13px;
  }
  footer .links-footer + .links-footer {
    margin-top: 20px;
  }
  footer .contato {
    text-align: left;
  }
  footer .barra-footer {
    padding-bottom: 10px;
  }
  footer .barra-footer .box-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  footer .barra-footer .box-left a + a {
    margin: 15px 0 0 !important;
  }
  #equipe [class*="container-havana"] {
    max-width: 1024px;
  }
  #equipe [class*="container-havana"] h2 + * {
    margin-top: 20px;
  }
  #equipe [class*="container-havana"] .grid-equipe {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 15px;
  }
  #equipe .grid-equipe.aparecer {
    margin-top: 30px;
  }
  #agenda-interna {
    padding-top: 0;
  }
  #agenda-interna [class*='titulo-1'] {
    font-size: 60px;
  }
  #agenda-interna h1 + * {
    margin-top: 15px;
  }
  #agenda-interna img {
    max-width: 100%;
  }
  #sobre-interna .text .box-text h2 + * {
    margin-top: 15px;
  }
  .servicos-interna .bg {
    background-position: center;
  }
  .sumir {
    display: none;
  }
  .aparecer {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .bt.full {
    max-width: 310px;
  }
  .whatsapp {
    max-width: 60px;
    max-height: 60px;
    right: 15px;
    bottom: 15px;
  }
  header .logo img {
    height: 60px;
  }
  #banner .bg.interna {
    padding-top: 120px;
  }
  .text-image .text {
    padding: 40px 20px;
  }
  .text-image h2 + * {
    margin-top: 10px;
  }
  .text-image p + * {
    margin-top: 15px;
  }
  #feedback .container-havana .aparecer {
    margin-top: 20px;
  }
  #contato .text {
    padding: 55px 15px;
  }
  #contato .box-text .logo .whatsapp-contato {
    width: 46px;
  }
  #contato .text-midias h2 {
    max-width: 420px;
    margin: 0 auto;
  }
  #contato .text-midias p {
    max-width: 400px;
    margin: 0 auto;
  }
  #contato .text-midias h2 + * {
    margin-top: 15px;
  }
  #contato .bt {
    height: 35px;
    max-width: 250px;
  }
  #contato [class*='link-2'] {
    font-size: 13px;
  }
  .contato-interna .text {
    padding-top: 75px !important;
  }
  footer .container-havana .logo-footer {
    height: 50px;
  }
  #equipe {
    padding-top: 40px;
    padding-bottom: 45px;
  }
  #equipe .grid-equipe.aparecer {
    margin-top: 25px;
  }
  #equipe [class*="container-havana"] h2 + * {
    margin-top: 10px;
  }
  #agenda-interna [class*='titulo-1'] {
    font-size: 47px;
  }
}
@media only screen and (max-width: 500px) {
  header .logo img {
    height: 45px;
  }
  .bt {
    max-width: 275px;
    height: 38px;
    letter-spacing: 1.7px;
  }
  .bt .link-2 {
    font-size: 13px;
  }
  .bt.full {
    max-width: 280px;
  }
  #banner .bg.interna {
    padding-top: 100px;
  }
  #banner .container-havana .text h1 {
    max-width: 440px;
  }
  #sobre .bg {
    min-height: 600px;
  }
  #eventos .grid-images .legenda {
    height: 70px;
  }
  #feedback .container-havana [class*="titulo-2"] {
    font-size: 30px;
  }
  .text-image h2 {
    font-size: 26px;
    max-width: 400px;
    margin: 0 auto;
  }
  #contato .text .box-text {
    padding: 0 20px 20px;
  }
  #contato .text .box-text .logo {
    max-width: 90px;
    margin: -50px auto 0;
  }
  #contato .text .box-text .logo .whatsapp-contato {
    width: 40px;
  }
  #contato .text .box-text .logo + * {
    margin-top: 10px;
  }
  #contato .text .box-text .content p {
    line-height: 19px;
    font-size: 14px;
  }
  #contato .text .box-text .content p + * {
    margin-top: 15px;
  }
  #contato .text .box-text [class*="titulo-2"] {
    font-size: 27px;
  }
  #contato .text .box-text .triangulo-para-baixo {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #fff;
    bottom: -29px;
  }
  #contato .text-midias {
    text-align: center;
  }
  #contato .text-midias .bt {
    margin: 20px auto 0;
  }
  #contato .text-midias a + * {
    margin-top: 15px !important;
  }
  footer .container-havana .logo-footer {
    height: 45px;
  }
  #equipe {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #equipe .grid-equipe.aparecer {
    margin-top: 30px;
  }
  #equipe .grid-equipe.aparecer .card-equipe {
    max-width: 85%;
    margin: 0 auto;
  }
  #equipe [class*="container-havana"] h2 + * {
    margin-top: 5px;
  }
  #equipe .grid-equipe.aparecer {
    margin-top: 20px;
  }
  #sobre-interna .text .box-text h2 + * {
    margin-top: 15px;
  }
  #agenda-interna [class*='titulo-1'] {
    font-size: 35px;
  }
}
